{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    
    <!-- Link to external CSS (adjust the path to your actual static file) -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    
    {% block extra_head %}{% endblock %}  <!-- Custom head content if needed -->
</head>

<body>
    {% include 'base/nav.html' %}
    <div class="container full">
      {% block content %} {% endblock %}
    </div>
    {% block script %} {% endblock %}
  </body>

</html>