<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <div></div>
        </div>
    </nav> 
    <h1>Welcome to the Music Collection</h1>         
    <nav>
        <ul>
            <li><a href="{% url 'artist-list' %}">Artists</a></li>
            <li><a href="{% url 'music-list' %}">Music</a></li>
            <li><a href="{% url 'artist-create' %}">Add Artist</a></li>
            <li><a href="{% url 'music-create' %}">Add Music</a></li>
            <li><a href="{% url 'artist-list' %}">Playlist</a></li>
            <a class="navbar-brand ms-auto" href="{% url 'logout_page'  %}">Logout</a>
        </ul>
    </nav>
  </header>
  